abbr -a cm 'chezmoi'
abbr -a lg 'lazygit'
abbr -a vi 'nvim'

abbr -a gs 'git status --short'
abbr -a gd 'git diff | delta'
abbr -a gap 'git add --patch'
abbr -a gcm 'git commit -m'
abbr -a gl 'git gl'
abbr -a gco 'git checkout'

{{ if .cloudInstall }}
abbr -a k 'kubectl'
abbr -a kg 'kubectl get'
abbr -a kd 'kubectl describe'
abbr -a kl 'kubectl logs'
abbr -a kex 'kubectl exec -it'

abbr -a tf 'terraform'
alias assume="source (brew --prefix)/bin/assume.fish"
{{ end }}

# Devbox abbreviations
abbr -a db 'devbox'
abbr -a dbsh 'devbox shell'
abbr -a dbrun 'devbox run'
abbr -a dbenv 'devbox shell --env-file'