# Formulae
brew "chezmoi"
brew "starship"
brew "nvim"
brew "helix"
brew "fish"
brew "eza"
brew "bat"
brew "git-delta"
brew "glow"
brew "lazygit"
brew "git-crypt"
brew "lima"
brew "asdf"
brew "fnm"
brew "luarocks"
brew "zsh-syntax-highlighting"
brew "zsh-autosuggestions"

# yazi and dependencies
brew "sevenzip"
brew "jq"
brew "poppler"
brew "fd"
brew "ripgrep"
brew "fzf"
brew "zoxide"
brew "resvg"
brew "imagemagick"
brew "yazi"

{{ if .devopsInstall }}
# DevOps utilities
tap "hashicorp/tap"
brew "hashicorp/tap/terraform"
brew "kubectl"
brew "minikube"
brew "k9s"
brew "helm"
brew "ansible"
brew "ansible-lint"
brew "awscli"
brew "eksctl"
tap "common-fate/granted"
brew "granted"
{{ end }}

{{ if .caskInstall }}
# Casks
cask "ghostty"
cask "zen"
cask "slack"
cask "zoom"
cask "1password"
cask "1password-cli"
cask "raycast"
cask "visual-studio-code"
cask "zed"
cask "podman-desktop"
cask "notion"
cask "tunnelblick"

# Fonts
cask "font-jetbrains-mono-nerd-font"
cask "font-geist-mono-nerd-font"
cask "font-symbols-only-nerd-font" # Fallback, for yazi
{{ end }}
