# Formulae
brew "chezmoi"
brew "starship"
brew "neovim"
brew "zoxide"
brew "fzf"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"
brew "eza"
brew "bat"
brew "fd"
brew "ripgrep"
brew "git-delta"
brew "glow"

{{ if .langInstall }}
# Language support
brew "fnm"
brew "pnpm"
brew "go"
brew "lua-language-server"
{{ end }}

{{ if .devopsInstall }}
# DevOps utilities
brew "kubectl"
brew "minikube"
brew "lima"
brew "ansible"
{{ end }}

{{ if .caskInstall }}
# Casks
cask "ghostty"
cask "zen"
cask "slack"
cask "zoom"
cask "1password"
cask "1password-cli"
cask "raycast"
cask "visual-studio-code"
cask "zed"
cask "podman-desktop"
cask "notion"

# Fonts
cask "font-jetbrains-mono-nerd-font"
cask "font-geist-mono-nerd-font"
{{ end }}