{{- if .oppreferred }}
Host *
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else }}
Host *
	IdentityAgent /Users/joel/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh
{{- end }}
