[core]
  compression = 9
  whitespace = error
  preloadindex = true
  pager = delta
  excludesFile = ~/.config/git/gitignore

[gpg]
  format = ssh

[gpg "ssh"]
{{- if not .preferSecretive }}
  {{- if eq .chezmoi.os "darwin" }}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  {{- else if eq .chezmoi.os "linux" }}
  program = "/usr/bin/op-ssh-sign"
  {{- end }}
{{- end }}
  allowedSignersFile = ~/.config/git/gitallowedsigners

[commit]
  gpgsign = true

[include]
  path = ~/.gitconfig.local

[init]
  defaultBranch = main

[status]
  branch = true
  showStash = true
  showUntrackedFiles = all

[diff]
  context = 3
  renames = copies
  interHunkContext = 10
  renameLimit = 99999

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  syntax-theme = GitHub
  line-numbers = true
  navigate = true
  hunk-header-decoration-style = none

[push]
  autoSetupRemote = true
  default = simple

[pull]
  rebase = true
  ff = only

[rebase]
  autoStash = true
  missingCommitsCheck = warn

[merge]
  conflictstyle = zdiff3

[log]
  abbrevCommit = true

[branch]
  sort = -committerdate

[tag]
  sort = -taggerdate

[pager]
  branch = false
  tag = false

[alias]
  gl = log --all --graph --decorate \
    --pretty=format:'%C(auto)%h %an %ar%C(auto) %D%n%s%n'
  cleanup = "!git fetch --prune && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -d"

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[user]
  pronouns = he/him
