[core]
  compression = 9
  whitespace = error
  preloadindex = true
  pager = delta
  excludesFile = ~/.config/git/gitignore

[gpg]
  format = ssh

[gpg "ssh"]
{{- if .oppreferred }}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ else }}
  allowedSignersFile = ~/.config/git/gitallowedsigners
{{- end }}

[commit]
  gpgsign = true

[include]
  path = ~/.gitconfig.local

[init]
  defaultBranch = main

[status]
  branch = true
  showStash = true
  showUntrackedFiles = all

[diff]
  context = 3
  renames = copies
  interHunkContext = 10
  renameLimit = 99999

[interactive]
  diffFilter = delta --color-only

[delta]
  syntax-theme = GitHub
  line-numbers = true
  navigate = true
  hunk-header-decoration-style = none

[push]
  autoSetupRemote = true
  default = simple

[pull]
  rebase = true
  ff = only

[rebase]
  autoStash = true
  missingCommitsCheck = warn

[merge]
  conflictstyle = zdiff3

[log]
  abbrevCommit = true

[branch]
  sort = -committerdate

[tag]
  sort = -taggerdate

[pager]
  branch = false
  tag = false

[alias]
  gl = log --all --graph --decorate \
    --pretty=format:'%C(auto)%h %an %ar%C(auto) %D%n%s%n'
    
[user]
  pronouns = he/him